<div class="container">
            <div class="jumbotron">
                <h1>Library catalogue</h1>
            </div>
            <div class="row">
                <app-recently-added [title]="'books'" [type]="'book'"></app-recently-added>
            </div>
            <div class="row">
                <app-recently-added [title]="'journals'" [type]="'journal'"></app-recently-added>
            </div>
            <div class="row">
                <app-recently-added [title]="'brochure'" [type]="'brochure'"></app-recently-added>
            </div>
            
</div>
    

