<div class="container" *ngIf="isDataLoaded" [@fadeInOut]>
  <div class="row">
      <div class="col-md">
    <h2>Details</h2>

      <hr />
      </div>
  </div>
  <div class="row">
      <div class="col-md">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md image-preview">
            <img [src]="imagesHostPath+details.ImageUrl"  (error)="img.src = imageNoneUrl" #img>
          </div>
          <div class="col-md-6">
            <p id="itemTitle">{{details.Title}}</p>
            <p id="itemAuthor">{{details.Author}}</p>

            <table class="table-detais-info">
              <tr>
                <td>{{details.Type=='book'?'Genre' : 'Category'}}</td>
                <td>{{details.Genre}}</td>
              </tr>
              <tr *ngIf="details.Type=='journal'">

                <td>Frequency:</td>
                <td>{{details.Frequency}}</td>

              </tr>
              <tr>
                <td>Year:</td>
                <td>{{details.Year}}</td>
              </tr>
              <tr>
                <td>Publisher:</td>
                <td>{{details.Publisher}}</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>{{details.Price}}</td>
              </tr>
              <tr>
                <td>Count:</td>
                <td>{{details.NumberOfCopies}}</td>
              </tr>
            </table>
          </div>

          <div class="col-md" *ngIf="details.Type=='book'">
            <table class="table-isbn-info">
              <tr>
                <td class="itemLabel">ISBN:</td>
                <td class="itemValue">{{details.ISBN}}</td>
              </tr>
            </table>
          </div>


        </div>
        <div class="row">
          <div class="col-md-12">
            <p id="itemDescription">{{details.Description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="footer-controls">
            <div class="downloadButton">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Download
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" (click)="downloadfile('xml')">XML</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="downloadfile('txt')">TXT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <a [routerLink]="details.Type=='book'?['/editbook', details.Id]:
    details.Type=='journal'?'/editjournal/'+details.Id:    
    details.Type=='brochure'?'/editbrochure/'+details.Id: '/' ">Edit</a>
  </div>
</div>