.image-preview {
    text-align: center;
}

.image-preview img {
        margin-bottom: 20px;
    }
#itemDescription {
    font-size: 16px;
}

#itemTitle {
    font-weight: bold;
    font-size: 36px;
    margin-top: -10px;
}

#itemAuthor {
    font-size: 24px;
}

.table-isbn-info {
    float: right;
    opacity: 0.5;
    margin-top: -10px;
}
.downloadButton{
    float:right;
}

.table-detais-info {
    opacity: 0.5;
    font-size: 18px;
}

h2{
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.4;
}

.footer-controls{
    width: 100%;
}